* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-b ox;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
  display: block;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body h1 {
  color: powderblue;
}

ul li {
  list-style: none;
}
ul li a {
  color: black;
  text-decoration: none;
}
ul li :hover {
  color: black;
}

header {
  background: url(../assets/img/Header/header_v2.png) 0 0 no-repeat;
  background-size: cover;
  background-position: center;
  height: 1085px;
}
@media (max-width: 990px) {
  header {
    height: 700px;
  }
}
@media (max-width: 762px) {
  header {
    height: 400px;
  }
}
@media (min-width: 2288px) {
  header {
    height: 1285px;
  }
}

.header-menu__logo {
  padding: 20px 0px 0px 0px;
}
@media (max-width: 990px) {
  .header-menu__logo {
    padding: 12px 0px 0px 0px;
  }
}
.header-menu__holder {
  background-color: #fff;
  font-family: "DM Serif Display", serif;
  position: relative;
  right: 0;
  top: 12px;
}
.header-menu__holder p {
  font-size: 18px;
  line-height: 0;
  padding: 0;
  margin: 0;
  color: #0F6FA9;
}
@media (max-width: 990px) {
  .header-menu__holder p {
    font-size: 11px;
    margin-top: 2px;
    margin-bottom: 7px;
  }
}
@media (max-width: 375px) {
  .header-menu__holder p {
    font-size: 9px;
    margin-top: -4px;
  }
}
.header-menu__holder span {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 9px;
  line-height: 11px;
  /* identical to box height */
  color: #515151;
}
@media (max-width: 990px) {
  .header-menu__holder span {
    font-size: 6px;
    margin-top: -12px;
  }
}
@media (max-width: 377px) {
  .header-menu__holder span {
    display: none;
  }
}
.header-menu__links ul {
  margin-top: 10px;
}
.header-menu__links li a {
  padding: 12px;
}
.header-menu__link {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
@media (max-width: 762px) {
  .header-menu__link {
    display: none;
  }
}
@media (max-width: 1198px) {
  .header-menu__link li a {
    font-size: 11px;
  }
}
.header-menu__title {
  font-family: "DM Serif Display", serif;
  text-align: right;
  margin-top: 70px;
  font-size: 36px;
  line-height: 49px;
  color: #8DD1FB;
  margin-left: 22rem;
  margin-right: 60px;
}
.header-menu__title span {
  color: white;
}
@media (max-width: 990px) {
  .header-menu__title {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin: 80px 12px 0px 12px;
  }
}
@media (max-width: 762px) {
  .header-menu__title {
    font-size: 16px;
    line-height: 18px;
    margin: 40px 20px 20px 12px;
  }
}
@media (max-width: 375px) {
  .header-menu__title {
    text-align: right;
  }
}
.header-menu__subtitle {
  color: white;
  margin-top: 66px;
  font-family: "Roboto Slab", serif;
  text-align: right;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  justify-content: flex-end;
  margin-left: 35rem;
  margin-right: 60px;
}
.header-menu__subtitle span {
  color: #8DD1FB;
  font-weight: 900;
  margin-right: 10px;
}
@media (max-width: 990px) {
  .header-menu__subtitle {
    display: none;
  }
}
.header-menu__mission {
  font-size: 36px;
  line-height: 49px;
  color: #FFFFFF;
  font-family: "DM Serif Display", serif;
  margin-left: 110px;
}
@media (min-width: 2288px) {
  .header-menu__mission {
    margin-left: 20px;
    margin-top: 80px;
  }
}
@media (max-width: 1399px) {
  .header-menu__mission {
    margin-top: -80px;
  }
}
@media (max-width: 1198px) {
  .header-menu__mission {
    font-size: 36px;
    line-height: 26px;
    margin: -110px 12px 0px 12px;
  }
}
@media (max-width: 990px) {
  .header-menu__mission {
    font-size: 22px;
    line-height: 26px;
    margin: 80px 12px 0px 12px;
  }
}
@media (max-width: 762px) {
  .header-menu__mission {
    font-size: 15px;
    line-height: 17px;
    margin: 40px 0px 0px 82px;
  }
}
@media (max-width: 574px) {
  .header-menu__mission {
    font-size: 15px;
    line-height: 17px;
    margin: 30px 0px 0px 0px;
  }
}
@media (max-width: 320px) {
  .header-menu__mission {
    margin: 40px 0px 0px 0px;
  }
}
.header-menu__mission-subtitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto Slab", serif;
  color: #FFFFFF;
  margin-left: 110px;
  width: 30%;
  margin-top: 10px;
}
@media (min-width: 2288px) {
  .header-menu__mission-subtitle {
    margin-left: 20px;
  }
}
@media (max-width: 1198px) {
  .header-menu__mission-subtitle {
    font-size: 18px;
    line-height: 24px;
    margin: 20px 12px 0px 12px;
    width: 40%;
  }
}
@media (max-width: 990px) {
  .header-menu__mission-subtitle {
    font-size: 10px;
    line-height: 13px;
  }
}
@media (max-width: 762px) {
  .header-menu__mission-subtitle {
    font-size: 8px;
    line-height: 11px;
    margin: 20px 12px 0px 82px;
  }
}
@media (max-width: 574px) {
  .header-menu__mission-subtitle {
    display: block;
    font-size: 8px;
    line-height: 11px;
    margin: 10px 0px 0px 0px;
  }
}
@media (max-width: 320px) {
  .header-menu__mission-subtitle {
    font-size: 6px;
    line-height: 8px;
  }
}

/*# sourceMappingURL=style.css.map */