header.teamProject {

  overflow: hidden;
  background: url(../assets/img/TeamPage/Header/team_bg.png) 0 0 no-repeat;
  background-size: cover;
  background-position: center;
  height: 1085px;

  @media (max-width: $secondBP) {
    height: 700px;
  }

  @media (max-width: $thirdBP) {
    height: 400px;
  }

  @media (max-width: 320px) {
    height: 330px;

  }

  @media (min-width:2288px) {
    height: 1285px;

  }


}




.team {
  overflow: hidden;

  &__holder.team {
    background-color: #0F6FA9;
    text-align: center;
  }


  &__description {
    color: #fff;
    font-size: 10px;
    line-height: 13px;
    font-family: $font-R;
    color: #FFFFFF;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 1.5;

    @media (max-width:1399px) {
      font-size: 10px;
      line-height: 13px;
    }

    @media (max-width: $fourthBP) {
      font-size: 12px;


    }
  }

  &__photo {
    img {
      width: 309px;
      height: 290px;

      @media (max-width:1399px) {
        width: 264px;
        height: 229px;
      }

      @media (max-width: 1199px) {
        width: 219px;
        height: 209px;
      }

      @media (max-width: $secondBP) {
        width: 159px;
        height: 139px;
      }

      @media (max-width: $thirdBP) {
        width: 249px;
        height: 229px;
      }

      @media (max-width: $fourthBP) {
        width: 100%;
        height: 100%;
      }


    }


  }

  &__name {
    margin-bottom: 10px;
    padding-top: 10px;

  }

  &__group-photo {
    margin-top: 20px;

    img {
      width: 1300px;
      height: 300px;

      @media (max-width:1399px) {
        width: 1119px;
        height: 241px;
      }

      @media (max-width: 1199px) {
        width: 938px;
        height: 201px
      }

      @media (max-width: $secondBP) {
        width: 699px;
        height: 139px;
      }

      @media (max-width: $thirdBP) {
        width: 518px;
        height: 150px;
      }

      @media (max-width: $fourthBP) {
        width: 100%;
        height: 100%;
      }

    }



  }

  &__person {
    @media (max-width: $thirdBP) {
      margin-bottom: 20px;
    }

    @media (max-width: $fourthBP) {
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  }


  &__all {
    @media (max-width: $fourthBP) {
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  }


}



.project__leader-name.leader__name {
  overflow: hidden;

  font-size: 18px;
  line-height: 25px;
  color: #0F6FA9;

  @media (max-width: $secondBP) {
    font-size: 12px;
  }


  @media (max-width: $fourthBP) {
    font-size: 18px;

  }
}

.team__description.all {
  padding: 10px 10px 10px 10px;
  font-size: 18px;
  line-height: 1.5;

  @media (max-width:1399px) {
    font-size: 12px;
    line-height: 15px;
  }

  @media (max-width:$fourthBP) {
    font-size: 9px;
    line-height: 10px;
  }


}




.mission {

  overflow: hidden;
  margin-bottom: 30px;

  @media (max-width: $fourthBP) {
    display: none;

  }


  &__holder {
    background: url(../assets/img//TeamPage/Team/Misiion.png) 0 0 no-repeat;
    background-position: center;
    height: 412px;

    @media (max-width: $secondBP) {
      background: url(../assets/img//TeamPage/Team/Misiion_min.png) 0 0 no-repeat;
      height: 100%;
      margin-left: 80px;

    }

    @media (max-width: $thirdBP) {
      margin-left: 0px;

    }

    @media (max-width: $fourthBP) {
      text-align: center;
      margin-left: -20px;

    }
  }

  &__text {
    font-size: 28px;
    line-height: 32px;
    font-family: $font-DM;
    text-align: center;
    color: #FFFFFF;
    padding-top: 110px;
    width: 28% !important;

    @media (max-width: 1399px) {
      width: 30% !important;
      margin-left: -50px;
    }

    @media (max-width: 1199px) {
      width: 35% !important;
      margin-left: -110px;
      font-size: 26px;

    }

    @media (max-width: $secondBP) {

      margin-left: 0px;
      width: 50% !important;
      margin-left: 100px;
      padding-top: 160px;
      padding-bottom: 80px;
    }

    @media (max-width: $thirdBP) {
      line-height: 22px;
      margin-left: 145px;
      font-size: 22px;
      padding-top: 170px;
      padding-bottom: 80px;
    }


  }

  &__values {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #919191;
    font-family: $font-R;
    padding-top: 90px;
    width: 28% !important;
    margin-left: 40px;

    @media (max-width: 1399px) {
      margin-left: 90px;

    }

    @media (max-width: 1199px) {
      width: 38% !important;


    }


    @media (max-width: $secondBP) {

      margin-left: 100px;
      width: 50% !important;
      padding-bottom: 80px;
    }

    @media (max-width: $thirdBP) {
      margin-left: 110px;
      width: 60% !important;
      padding-bottom: 80px;
    }

  }


  .values-header {
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 10px;
    color: #0F6FA9;
  }

}



.moldova {
  &__history {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    padding: 20px;
    color: #FFFFFF;

    b {
      font-size: 28px;
      line-height: 38px;
      text-transform: uppercase;
      font-family: $font-DM;
      color: #8DD1FB;
      font-weight: 300;
    }

    span {
      margin: 20px 0px 20px 0px;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      font-family: $font-R;
      color: #FFFFFF;
      font-weight: bold;
    }

  }
}


.moldova__history {

  @media (max-width: 1399px) {
    display: none;
  }
}



.what-are-we-doing__holder.team {

  @media (max-width: 1399px) {
    padding-top: 100px;
  }

  @media (max-width: $thirdBP) {
    padding-top: 40px;


  }


}


.leader__photo.moldova {

  @media (max-width: $thirdBP) {
    padding-top: 140px;
    padding-bottom: 10px;


  }

  @media (max-width: $fourthBP) {
    padding-top: 40px;
    margin-bottom: -20px;

  }
}


.leader__description.moldova {
  @media (max-width: $fourthBP) {
    padding-top: 40px;

    padding-bottom: 140px;

  }

  @media (max-width: 320px) {
    padding-top: 40px;
    padding-bottom: 100px;

  }


}


footer,
header {
  overflow: hidden;

}