header.donationProject {

  overflow: hidden;
  background: url(../assets/img/DonationPage/Header/donation_bg.png) 0 0 no-repeat;
  background-size: cover;
  background-position: center;
  height: 985px;

  @media (max-width: $secondBP) {
    height: 700px;
  }

  @media (max-width: $thirdBP) {
    height: 400px;
  }

  @media (max-width: 320px) {
    height: 330px;

  }

  @media (min-width:2288px) {
    height: 1285px;

  }


}

.header-menu__mission.donation {
  color: #0F6FA9;
  font-size: 48px;
  line-height: 66px;
}

.header-menu__title.donation {
  padding-top: 200px;
  padding-bottom: 30px;
}



footer.donation {
  background: url(../assets/img/DonationPage/Header/footer__bg.png) 0 0 no-repeat;
  background-size: cover;
  background-position: center;
  height: 414px;
  padding-top: 6px;

  @media (max-width:$thirdBP) {
    height: 414px;


  }
}




.donate {
  @media (max-width: $fourthBP) {
    margin-top: 20px;

  }

  &__holder {
    margin-top: -200px;
    margin-bottom: 120px;
    background: rgba(15, 111, 169, 0.12);
    box-sizing: border-box;
    border-radius: 20px;

    @media (max-width: $secondBP) {
      margin-top: -120px;
    }
  }

  &__title {
    font-size: 36px;
    line-height: 49px;
    font-family: $font-DM;
    color: #0F6FA9;
    padding: 30px;
    font-weight: 600;

    @media (max-width: $secondBP) {
      line-height: 32px;
      text-align: center;
      font-size: 29px;

    }

    @media (max-width: $thirdBP) {
      line-height: 22px;
      text-align: center;
      font-size: 18px;

    }

    b {
      font-weight: 600;
      color: black;
    }
  }


  &__subtitle {
    font-size: 18px;
    line-height: 22px;
    font-family: $font-R;
    color: #000000;
    padding: 30px;

    @media (max-width: $thirdBP) {
      line-height: 18px;
      text-align: center;
      font-size: 16px;


    }

    @media (max-width: $fourthBP) {
      line-height: 11px;
      text-align: center;
      font-size: 11px;


    }

  }



  &__placehoder {
    background: rgba(15, 111, 169, 0.1);
    border-radius: 6px;
    margin: 20px 0px 20px -70px;
    padding-top: 30px;



    @media (max-width: $thirdBP) {
      margin: 0;
      background: transparent;

    }


  }

  &__data-visa {
    text-align: center;
    display: none;

  }

  &__data-paypal {
    display: none;
    text-align: center;

    label {
      margin-top: 110px;
      font-size: 19px;
      line-height: 22px;
      font-weight: bold;
      font-family: $font-R;
      color: #404040;
      padding: 10px;
      border-radius: 6px;



      @media (max-width: $firstBP) {
        margin-top: 50px;

      }

      @media (max-width: $thirdBP) {
        margin-top: 50px;
        font-size: 12px;
        height: 25px;

      }
    }
  }

  &__input {
    font-size: 19px;
    line-height: 22px;
    font-weight: bold;
    font-family: $font-R;
    color: #404040;
    padding: 10px;
    border-radius: 6px;

    input {
      width: 20%;
      height: 49px;
      background: rgba(15, 111, 169, 0.1);
      border-radius: 6px;
      font-size: 22px;
      line-height: 29px;
      color: #0F6FA9;
      font-weight: bold;
      font-family: $font-R;
      padding-left: 15px;



      @media (max-width: $firstBP) {
        margin-top: 50px;
        font-size: 17px;
        height: 25px;

      }


      @media (max-width: $thirdBP) {
        margin-top: 50px;
        font-size: 12px;
        height: 25px;

      }
    }
  }

  &__info {
    font-family: $font-DM;
    font-size: 19px;
    line-height: 12px;
    color: #9D9D9D;
    margin-bottom: 60px;

    @media (max-width: $firstBP) {
      margin-bottom: 20px;


    }

    @media (max-width: $secondBP) {
      font-size: 12px;


    }

    span {
      font-weight: 900;
      font-size: 15px;
      line-height: 15px;

      font-family: $font-R;

      text-align: center;
      margin-bottom: 20px;
      color: #000000;

      @media (max-width: $secondBP) {
        font-size: 12px;
        line-height: 12px;

      }

      @media (max-width: $thirdBP) {
        display: none;

      }
    }
  }




  &__main {
    background-color: #fff;
    font-size: 19px;
    line-height: 22px;
    font-weight: bold;
    font-family: $font-R;
    color: #404040;
    padding: 10px;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: -10px;

    @media (max-width: $firstBP) {
      font-size: 12px;
      line-height: 12px;
      margin-bottom: 60px;
    }

    @media (max-width: $secondBP) {
      font-size: 12px;
      line-height: 12px;
      margin: 0;
      padding: 10px;
      background-color: transparent;

    }

    span {
      margin-top: 10px;
      font-size: 25px;
      line-height: 25px;
      width: 120px;
      height: 40px;
      color: #0F6FA9;
      border-radius: 20px;
      font-family: $font-DM;

      @media (max-width: $secondBP) {
        font-size: 12px;
        line-height: 12px;

      }
    }

  }


  &__thanks {
    font-weight: 900;
    font-size: 15px;
    line-height: 15px;

    font-family: $font-R;

    text-align: center;
    margin-bottom: 20px;
    color: #000000;

    @media (max-width: $secondBP) {
      font-size: 12px;
      line-height: 9px;

    }

    @media (max-width: $thirdBP) {
      display: none;

    }
  }

  &__transfer {
    input {
      margin-top: 10px;
      font-size: 18px;
      line-height: 25px;
      width: 120px;
      height: 40px;
      color: #FFFFFF;
      background: #0F6FA9;
      border-radius: 20px;
      font-family: $font-DM;
      margin-bottom: 20px;


    }
  }

}


.visa {
  display: flex;
  align-items: center;
  padding: 30px;
  background-color: #fff;
  margin: 30px;
  border-radius: 20px;
  cursor: pointer;
  justify-content: center;

  @media (max-width: $thirdBP) {
    padding: 10px;


  }


  &__text {
    font-weight: 900;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    font-family: $font-R;
    padding: 10px;

    @media (max-width: $firstBP) {
      font-size: 12px;
      padding: 4px;
    }

    @media (max-width: $secondBP) {

      display: none;
    }


    @media (max-width: $thirdBP) {
      padding: 10px;
      display: block;
    }
  }

  &__icon {
    i {
      font-size: 90px;
      color: #0F6FA9;

      @media (max-width: $firstBP) {
        font-size: 30px;

      }
    }


  }



}


.visa.active {
  border: 4px solid #0F6FA9;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}



.paypal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: #fff;
  margin: 30px;
  border-radius: 20px;
  cursor: pointer;

  @media (max-width: $thirdBP) {
    padding: 10px;


  }

  &__text {
    font-weight: 900;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    font-family: $font-R;
    padding: 10px;

    @media (max-width: $firstBP) {
      font-size: 12px;
      padding: 4px;
    }


    @media (max-width: $secondBP) {

      display: none;
    }

    @media (max-width: $thirdBP) {
      padding: 10px;
      display: block;
    }
  }

  &__icon {
    i {
      font-size: 90px;
      color: #0F6FA9;

      @media (max-width: $firstBP) {
        font-size: 30px;

      }
    }


  }
}


.paypal.active {
  border: 4px solid #0F6FA9;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}


.donate__data-visa.active {
  display: block;
}

.donate__data-paypal.active {
  display: block;
}

.note {
  color: #0F6FA9;
  width: 90%;
  margin-left: 20px;

  @media (max-width: $secondBP) {
    font-size: 12px;
    line-height: 12px;

  }
}

.header-menu__mission.donation {
  @media (max-width: $thirdBP) {
    display: none;
  }
}



.header-menu__title.donation {
  @media (max-width: $thirdBP) {
    margin-top: -110px;
  }
}


.sponsors {
  margin-top: 70px;
  overflow: hidden;

  &__title {
    margin-bottom: 30px;
  }




  &__holder {
    @media (max-width: $thirdBP) {
      text-align: center;
    }
  }


  &__name {
    justify-content: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */
    font-family: $font-R;
    color: #FFFFFF;

    @media (max-width: $firstBP) {
      text-align: center;
      font-size: 16px;
      line-height: 16px;
      margin-top: 20px;
    }

    @media (max-width: $secondBP) {
      margin-left: 10px;
    }

    @media (max-width: $thirdBP) {
      margin-bottom: 90px;
    }


  }

  &__position {
    font-family: $font-R;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF;

    @media (max-width: $firstBP) {
      text-align: center;
      font-size: 9px;
      line-height: 26px;
    }

    @media (max-width: $secondBP) {
      display: none;
    }



  }

  &__destination {

    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 50px;

    @media (max-width: $firstBP) {
      font-size: 13px;
      line-height: 26px;
    }

    @media (max-width: $thirdBP) {
      display: none;
    }
  }
}