// About us - styles file start here ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
$font-DM: 'DM Serif Display', serif;
$font-R: 'Roboto Slab', serif;
$color-prime: #8DD1FB;


$firstBP: 1198px;
$secondBP: 990px;
$thirdBP:   767px;
$fourthBP: 574px;


.who-are-we {
  padding-top: 80px;
  margin-top: 120px;
  @media (max-width:$thirdBP)  {
    padding-top:60px;
    margin-top: 0;
  }
  &__team, &__values,
  &__vision{
    img{
      margin-bottom: 40px;

      @media (max-width:$secondBP) {
        margin-left: 55px;
      }
      @media (max-width:$thirdBP) {
        width: 476px;
        height: 170px;
        margin-left: 15px;

      }

      @media (max-width:568px) {
        width: 436px;
        height: 170px;

      }


      @media (max-width: 425px) {
      width: 366px;
      height: 170px;

    }

      @media (max-width:391px) {
        width: 326px;
        height: 120px;

      }

      @media (max-width: 464px) {
        margin-left: -10px;
      }
      @media (max-width: 410px) {
        margin-left: 5px;
      }



      @media (max-width:330px) {
        width: 276px;
        height: 100px;

      }

    }
    .team__holder {
      span{
        position: relative;
        width: 171px;
        height: 49px;
        top:  150px;
        left: -20px;
        font-family: $font-DM;
        font-size: 36px;
        line-height: 49px;
        color: #FFFFFF;
        @media (max-width:$thirdBP) {
          top:  55px;
          font-size: 26px;


        }
      }


    }

    @media (max-width:$secondBP) {
      text-align: center;
    }

  }


  &__title{
    font-size: 36px;
    line-height: 49px;
    font-family: $font-DM;
    color: #878787;
    margin-left: -40px;
    @media (max-width: 1199px) {
      margin-left: 45px;

    }
    @media (max-width:$thirdBP) {

      margin-left: 15px;
      font-size: 26px;

    }
  }

  &__description {
    font-size: 18px;
    line-height: 24px;
    font-family: $font-R;
    color: #000000;
    font-weight: 300;
    margin-left: -40px;
    margin-top: 12px;
    width: 90%;

    @media (max-width: 1199px) {
      margin-left: 55px;

    }
    @media (max-width:$secondBP) {
      width: 85%;
      margin-bottom: 40px;
    }

    @media (max-width:$thirdBP) {
      font-size: 14px;
      margin-left: 15px;

    }
  }

}

.who-are-we {
  overflow: hidden;
}
